@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Share+Tech+Mono&display=swap");
.input-groups {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.forms {
  display: flex;
  padding: 20px;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(145deg, #bdc3c7, #2c3e50);
  overflow-y: auto;
  max-height: 100vh;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forms .title {
  font-family: "Share Tech Mono", monospace;
  color: #030e1a;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.input {
  display: flex;
  padding: 10px;
  margin-top: 20px;
  justify-content: space-between;
}

label,
.genderlabel {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 600;
  color: #030e1a;
  cursor: pointer;
}

#name {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  max-width: 450px;
}

input {
  cursor: pointer;
}

.submit {
  margin-top: 15px;
  color: rgba(225, 225, 225, 0.8);
  background-color: #030e1a;
  border: none;
}

.submit:hover,
.submit:focus {
  background-color: #051527;
  color: rgba(225, 225, 225, 0.8);
}

.forms .need {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 5px;
  font-size: 12px;
  font-family: "Share Tech Mono", monospace;
  color: #fff;
  text-decoration: none;
  border-bottom: dotted 1px #fff;
}

.forms .need:hover {
  color: #2c3e50;
  border-color: #2c3e50;
}
